<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Projet Angular / Application Spacex</h1>
            <p class="lead fw-normal text-white-50 mb-0">Réalisé le 8 mai 2022</p>
        </div>
    </div>
  </header>

  <!-- Details section -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Participants</h2>
                <ul class="lead">
                    <li>Maroua JAI FAYEZ</li>
                    <li>Abou Bakr KHEMISSI</li>
                    <li>Estelle MOYNARD</li>
                </ul>
            </div>
        </div>
    </div>
</section>