<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Launch History</h1>
          <p class="lead fw-normal text-white-50 mb-0">List of the past && upcoming launches</p>
      </div>
  </div>
</header>

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let launch of launches" id="launchlist">
              <app-launchcard [launch]="launch"></app-launchcard>
          </div>
      </div>
  </div>
</section>




