<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img alt="xxx" class="xxx" src="https://img.bfmtv.com/c/630/420/27e/bc029c2ca26dfb8b78d06b5ccf483.jpeg">
      </div>
  
      <div class="col-md-4">
        <h3 class="mying in adipisc-3">Description</h3>
        <p>{{capsule?.details}}</p>
        <h3 class="my-3">Details</h3>
        <ul>
            <li>ID : {{capsule?.capsule_id}}</li>
            <li>Type : {{capsule?.type}}</li>
            <li>Original launch : {{capsule?.original_launch}}</li>
            <li>Original launch unix : {{capsule?.original_launch_unix}}</li>
            <li>Landings count :  {{capsule?.landings}}</li>
        </ul>
      </div>
  
    </div>
  
  </div>
  <!-- /.container -->