<!-- Header - set the background image for the header in the line below-->
<header class="py-1 bg-image-full" style="background-image: url('https://cdn.wallpapersafari.com/36/5/6gd0lW.jpg');">
    <div class="text-center my-3">
        <img class="img-fluid rounded-circle mb-3" [src]="detailedLaunch.links?.mission_patch_small" alt="...">
        <h1 class="text-white fs-1 fw-bolder">{{ detailedLaunch.mission_name }}</h1>
        <p class="text-white-50 mb-0"> Launched in {{ detailedLaunch.launch_year }}</p>
        <h5 class="text-white">Status :
            <span [ngStyle]="{'color': checkSuccess() === 'Successful' ? '#64d164' : '#db4e4e'}">{{ checkSuccess() }}</span>
        </h5>
    </div>
</header>

<!-- Details section -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Launch details</h2>
                <p class="lead">{{ detailedLaunch.details }}</p>
                <p class="mb-0"><b>Launch site :</b> {{ detailedLaunch.launch_site.site_name_long }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Rocket && News article section -->
<section class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 d-flex justify-content-between">
                <div class="col-lg-4 col-sm">
                    <h2>Rocket</h2>
                    <div class="text-center" *ngIf=(detailedLaunch.rocket)>
                        <img class="img-fluid" src="assets/rocket.png" alt="..." />
                        <p class="lead">{{ detailedLaunch.rocket.rocket_name }}</p>
                        <p><b>Type :</b> {{ detailedLaunch.rocket.rocket_type }}</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm">
                    <h2>Links</h2>
                    <div class="text-center" *ngIf=(detailedLaunch.links.article_link)>
                        <a href="{{ detailedLaunch.links?.article_link }}">
                            <img class="img-fluid" src="assets/news.png" alt="..." id="news-article"/>
                        </a>
                        <p class="lead">News article</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- Flickr images -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <h2>Flickr images</h2>
            <div id="carouselIndicators" class="carousel slide my-3" data-bs-ride="carousel" *ngIf="detailedLaunch.links.flickr_images?.length">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselIndicators" *ngFor="let image of detailedLaunch.links.flickr_images; let i = index" [attr.data-bs-slide-to]="i" [ngClass]="{'active' : i == 0}" aria-current="true" [attr.aria-label]="'Slide-' + i + 1"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let image of detailedLaunch.links.flickr_images, let index = index" [ngClass]="{'active': index == 0 }">
                        <img [src]="image" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800');">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem;"></div>
</div><!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Engaging Background Images</h2>
                <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
            </div>
        </div>
    </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script><!-- Core theme JS-->
<script src="js/scripts.js"></script>
